<%- include("../partials/header") %>



<ul>
    <% expenses.forEach( (expense) => { %>
        <li><%= new Intl.DateTimeFormat('en-US').format(expense.date) %> - <%= accounting.formatMoney(expense.amount) %> </li>
     <% }); %>
</ul>

<%- include("../partials/footer") %>