<%- include("../partials/header") %>

<div class="container list-striped">
    <ul class="list-group">
        <% categories.forEach( (category) => { %>
        <li class="list-group-item d-flex justify-content-between">
            <span class="name"><%= category.name %></span>
            
        </li>
        <% }); %>
    </ul>

    <div class="container justify-content-about">
        <a class="btn btn-secondary btn-lg" href="/expenses/new" role="button">Add an Expense</a>
        <a class="btn btn-primary btn-lg" href="/whats/new" role="button">Add a What</a>
        <a class="btn btn-secondary btn-lg" href="/wheres/new" role="button">Add a Where</a>
    </div>
</div>


<%- include("../partials/footer") %>